<%= simple_form_for(@note, html: {class: "form-horizontal"}) do |f| %>
  <%= f.input :user_id, as: :hidden %>
  <div class="row">
    <div class="span11 offset1"><%= f.error_notification %></div>
  </div>

  <div class="row">
    <div class="span6">

      <%= f.input :amount, wrapper: :prepend do %>
        <span class='add-on'>
          <i class='icon-dollar'></i>
        </span>
        <%= f.input_field :amount, placeholder: '3000', class: "input-small"%>
      <% end %>

      <%= f.input :rate, wrapper: :append do %>
        <%= f.input_field :rate, placeholder: '13.17', class: "input-small" %>
        <span class="add-on">%</span>
      <% end %>

      <%= f.input :term, wrapper: :append do %>
        <%= f.input_field :term, placeholder: '12', class: "input-small" %>
        <span class="add-on">months</span>
      <% end %>

      <%= f.input :start_date do %>
        <%= f.input_field :start_date, placeholder: "Dec 2012", class: "input-small" %>
      <% end %>
    </div>
    <div class="span6">
      <img src="http://placehold.it/350x150&text=Loan+Summary+Placeholder">
    </div>
  </div>

<div class="row">
  <div class="span10 offset1">
    <p class="alert alert-info text-center">
      Ready to make it official? Fill the form below and we will contact the other party with all the necessary details!
    </p>
  </div>
</div>
  <div class="row">
    <div class="span5 offset1">
      <h3>Lender</h3>
    </div>
    <div class="span5 offset1">
      <h3>Borrower</h3>
    </div>
  </div>
  <div class="row">
  <% %w(lender borrower).each do |lender_or_borrower| %>
    <div class="span6">
      <%= f.input :"#{lender_or_borrower}_name", label: "Name" %>
      <%= f.input :"#{lender_or_borrower}_email", label: "Email"%>
      <%= f.input :"#{lender_or_borrower}_address", label: "Address" %>
    </div>
  <% end %>
  </div>

  <p class="text-center">
    * We suggest the borrower pay the fee or buy the lender an amazing dinner!
    <br>
    <%= f.button :submit, "Create the Promissory Note!", class: "btn btn-primary" %>
  </p>
<% end %>
