<div class="row">
  <div class="span11 offset1"><h1>Review promissory note</h1></div>
</div>

<div class="row">
  <div class="span4 offset3">
    <div class="well well-large">
      <p>The loan amount is for <strong>$<%= @note.amount %></strong></p>
      <p>The Interest Rate is for <strong><%= @note.rate %>%</strong></p>
      <p>It lasts for <strong><%= @note.term %> months</strong></p>
      <p>First Payment Date is <strong><%= l @note.start_date, format: :long %> </strong></p>
    </div>
  </div>
</div>

<div class="row">
  <% %w(borrower lender).each do |borrower_or_lender| %>
    <div class="span5 offset1">
      <h3><%= borrower_or_lender.titleize %></h3>
    </div>
  <% end -%>
</div>

<div class="row">
  <% %w(borrower lender).each do |borrower_or_lender| %>
    <div class="span6">
      <% if @note.send(:"signed_by_#{borrower_or_lender}").present? %>
        <p><%= @note.send(:"signed_by_#{borrower_or_lender}")%> has signed the promissory note.</p>
      <% else %>
        <%= simple_form_for @note, html: {class: "form-horizontal"} do |f| %>
          <%= f.input :"signed_by_#{borrower_or_lender}", label: "Signature", placeholder: @note.send("#{borrower_or_lender}_name") %>
          <div class="row">
            <div class="span4 offset1">
              <%= submit_tag "Sign & Accept terms", class: "btn btn-primary btn-block", id: "#{borrower_or_lender}_sign"%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end -%>
</div>
