<h3><%= @user.name %> profile page</h3>
<h4>Your details</h4>
<p>Email: <%= @user.email if @user.email %></p>
<p>Address: <%= @user.address if @user.address %></p>
<% if @user.notes.any? %>
<h4>Your loans</h4>
<ul>
<% @user.notes.each do |note| %>
  <li><%= link_to "Loan ##{note.id}", note_path(note) %></li>
<% end %>
</ul>
<% end %>
<% if (borrower_loans = Note.where(borrower_email: @user.email)).any? %>
<h4>Loans you have been invited to sign</h4>
<ul>
<% borrower_loans.each do |note| %>
  <li><%= link_to "Loan ##{note.id}", note_path(note) %></li>
<% end %>
</ul>
<% end %>
