<div class="row">
  <div class="span5 offset1">
    <h1>
      Lending round
      <br>
      <small>
        A simple way to manage a small loan to your friend
      </small>
    </h1>
  </div>
  <div class="span6">
    <%= image_tag "report.png" %>
  </div>
</div>

<hr>

<div class="row">
  <div class="span8 offset2">
    <p class="lead">Ready to help your friend out? Great! Decide the loan amount and for how long. It only takes a few seconds!</p>
    <hr>
  </div>
</div>

<%= simple_form_for :note, url: "/notes/new", method: :get, html: {class: "form-horizontal"} do |f| %>
  <div class="row">
    <div class="span3 offset2">
      <%= f.input :amount, label: "Loan Amount", input_html: {class: "input-small", placeholder: "$6,000"} %>
        <%= f.input :rate, label: "Interest Rate", input_html: {class: "input-small", placeholder: "11.00%" } %>
        <%= f.input :term, label: "Term (months)", input_html: {class: "input-small", placeholder: "36"} %>
        <%= f.input :start_date, label: "First Payment Date", input_html: {class: "input-small", placeholder: "Oct 27, 2013"} %>
    </div>
    <div class="span1">
      <br>
      <br>
      <br>
      <span style="font-size: 60px; font-weight: bold;">&rarr;</span>
    </div>
    <div class="span4">
      <table class="table table-bordered loan-summary">
        <thead>
          <tr>
            <th colspan="2">Loan Summary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>$196.43</strong><br>
              Monthly payment
            </td>
            <td>
              <strong>$7,071.56</strong><br>
              Over 36 Payments
            </td>
          </tr>
          <tr>
            <td>
              <strong>$1,071.56</strong><br>
              Total Interest
            </td>
            <td>
              <strong>Sep. 2016</strong><br>
              Pay-off date
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!- .row !>
  <div class="row">
    <div class="span6 offset3">
      <%= f.button :submit,"Create a loan!", class: "btn-primary btn-block" %>
    </div>
  </div>
<% end %>

<hr>

<div class="row">
  <div class="span4">
    <h2>what makes our app stand out</h2>
  </div>
  <div class="span8">
    <div class="media">
      <div class="pull-left">
        <img src="http://placehold.it/128x128", class: "img-polaroid">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Personal loans</h4>
        Lend to your friend directly from your phone with fair interests (0-13% rates). No need to come up with legal mumbo jumbo or deal with expensive lawyers! All documents are already prepared for you.
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
        <img src="http://placehold.it/128x128", class: "img-polaroid">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Repayments</h4>
        Your money will be automatically transferred from the account of your friend to your own account for free! Our system ensures the complete and absolute automation of repayments, monthly statements, and tax forms.
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
        <img src="http://placehold.it/128x128", class: "img-polaroid">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Protection</h4>
        We know that keeping your friendships strong is important to you. If there are insufficient funds for a particular payment, our system will detect and notify you both in order to get a conversation going.
      </div>
    </div>
  </div>
</div>
